RewriteEngine On

# Si le fichier demandé existe, servez-le directement
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Sinon, redirigez vers index.php
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
